@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
margin: 0;
padding: 0;
}

.css-1ndct9v-MuiPaper-root {
    border-radius: 0;
}
text{
 color: #F4683C;
}
.logo{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 25px;

}
.logo:nth-last-child(1){
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
}